
.Navbar{
  background: #8fbfff;
}

.Rodape{
  background: #8fbfff;
}
.btn-custom{
  background-color: #8fbfff;
}
.btn-custom:hover{
  background-color: #4f98f7;
  box-shadow: 1px 1px 5px 1px #224168;
}

.card{
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.025);
  box-shadow: 1px 1px 30px 0.5px #757575;
}

body
{
  font-family: Tektur;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  background-color: #ecf1f8;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main
{
  min-height: 100hv;
}