
.Navbar{
  background: #8fbfff;
  min-height: 10vh;
}

.Rodape{
  background: #8fbfff;
}
.btn-custom{
  background-color: #8fbfff;
}
.btn-custom:hover{
  background-color: #4f98f7;
  box-shadow: 1px 1px 5px 1px #224168;
}

.card{
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
  width: 90vw;
  max-width: 1000px;
}
.card:hover{
  transform: scale(1.025);
  box-shadow: 1px 1px 30px 0.5px #757575;
}
.card-title{
  font-size: 25px;
}

.fotoAtv{
  width: 85%;
  max-width: 100vh;

}
.infjogo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body
{
  font-family: Tektur;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  background-color: #ecf1f8;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
}

main
{
  min-height: 63.5vh;
}
.textos{
  background-color: #c5ddfd;
  border-radius: 2vh;
  padding: 2vh;
  width: 90vw;
  max-width: 130vh;
  box-shadow: 3px 3px 5px .03px rgb(117, 117, 117);
  display: flex;
  flex-direction: column;
}
.textos span{
  font-weight: bold;
}